<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
   <title>Home</title>
</head>
<body>
<div class="wrapper">
  
  <div id="title">
  <h3> Your Groups</h3>
  </div>


  <div id="container">
   <div id="groupname">
   {{#each response}}
   
    {{#if this.isAdmin}}
      
      <li><a href="/group/{{this.name}}/{{this.groupId}}">{{this.name}}</a> <a id="edit" href= "/removeuser/{{this.groupId}}" >Edit</a></li>
        
    {{else}}
        
      <li><a href="/group/{{this.name}}/{{this.groupId}}">{{this.name}}</a></li>
      
    {{/if}}
      
      
  {{/each}}
  </div> 
     
    <form action="/createGroup">
    <button>createGroup</button>
    </form>

  </div>
</div>
</body>
</html>